[submodule "thirty-party-lib/m4s-converter"]
	path = thirty-party-lib/m4s-converter
	url = https://gitcode.com/gh_mirrors/m4/m4s-converter

[submodule "thirty-party-lib/tinyobjloader"]
	path = thirty-party-lib/tinyobjloader
	url = https://github.com/tinyobjloader/tinyobjloader.git
